.total-pie{
    height: 450px;
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

x-vue-echarts.echarts.piechart1,
x-vue-echarts.echarts.piechart2,
x-vue-echarts.echarts.piechart3,
x-vue-echarts.echarts.piechart4,
x-vue-echarts.echarts.piechart5{
    width: 400px;
    height: 400px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto 60px; */
    margin-top: 50px;
}
.total-pie-text{
    position: absolute;
    top: 15%;
}
